a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

.customfsize {
  font-size: 14px;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 16px
}

strong {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

heading {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 24px;
}

papertitle {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700
}

name {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.divScroll {
            overflow:scroll;
            overflow-x:hidden; 
            height:300px;
            }

.dark-mode {
  background-color: black;
  color: white;
}